* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ddd;
  /* border: 2px solid red; */
}
table {
  /* border: 2px solid red; */
  /* margin-top: 50px; */
  width: 40% !important;
  margin-top: 80px;
  margin-left: 150px;
}
