* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#card-container {
  margin-left: 115px;
  margin-bottom: 100px;
}
.note-data {
  display: flex;
  flex-wrap: wrap;
}
